@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    margin: 0;
    font-family: "Open Sans", system-ui;
}

#titlefromwebsite h1 {
    color: #03256c;
    font: 600;
    font-size: 30pt;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

main #config {
    text-align: center;
}

main #config p{
    display: inline;
    margin: 0 10px;
    font-weight: 500;
}

main #config input {
    width: 5rem;
    height: 2.5rem;

    background: #1768ac;
    border: #1768ac solid 1px;
    border-radius: 5px;

    color: #fff;
    font-size: 14pt;
    font-weight: 600;
    padding: 5px 6px;

}

main #config input::placeholder {
    color: #fff;
    font-weight: 600;
    font-size: 14pt;
}

main #return button {
     display: block;
     margin: auto;

     background: #2541b2;
     color: #fff;
     border: #2541b2 solid 1px;
     border-radius: 8px;

     font-size: 13pt;
     font-weight: 600;

     width: 6rem;
     height: 3rem;

     padding: 5px;
}

main #return #result {
    margin: 20px;
    padding: 8px;

    width: 20rem;
    height: 10rem;

    background: #2e49b4;
    border: #2e49b4 solid 1px;
    border-radius: 15px;

    font-size: 14pt;
    font-weight: 500;
    color: #fff;
}

main #return #result::placeholder {
    color: #fff;
    font-weight: 500;
}